:root {
  --basic-text-color: #212121;
  --text-color: #757575;
  --accent-color: #2196F3;
  --text-on-dark-background: #FFFFFF;
  --first-background-color: #FFFFFF;
  --second-background-color: #2F303A;
  --third-background-color: #F5F4FA;
  --background-button: #F5F4FA;
  --basic-socicon-color: #AFB1B8;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0%;
}

ul,
ol {
  margin: 0%;
  padding-left: 0%;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--basic-text-color);
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.link.current {
  color: var(--accent-color);
}

.link.hidden::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
  opacity: 0;
  transform: scaleX(0);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link.current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
}

img {
  display: block;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}
.logo__park-dark {
  color: #000000;
}
.logo__park-light {
  color: #FFFFFF;
}

.btn {
  display: flex;
  min-width: 200px;
  height: 50px;
  border-radius: 4px;
  border: 1px solid transparent;
  padding: 10px 28px;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  background-color: var(--accent-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--text-on-dark-background);
  cursor: pointer;
}
.btn:hover, .btn:focus {
  background-color: #188CE8;
}

.btn--icon-telegram::after {
  display: inline-block;
  content: "";
  width: 24px;
  height: 24px;
  margin-left: 10px;
  background-image: url(../images/send.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

.container__titel {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

.address {
  font-style: normal;
}
.address__item:not(:first-child) {
  margin-top: 9px;
}
.address__map {
  font-family: inherit;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-on-dark-background);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address__map:hover, .address__map:focus {
  color: var(--accent-color);
}
.address--top-indent {
  margin-top: 20px;
}

.address__mail,
.address__tel {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address__mail:hover, .address__mail:focus,
.address__tel:hover,
.address__tel:focus {
  color: var(--accent-color);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 528px;
  min-height: 581px;
  border-radius: 4px;
  background-color: var(--first-background-color);
}
.modal__close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  width: 30px;
  height: 30px;
  padding: 0;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: transparent;
  cursor: pointer;
  color: #000000;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__close-btn:hover, .modal__close-btn:focus {
  color: var(--accent-color);
}
.modal__close-icon {
  width: 18px;
  height: 18px;
  fill: currentColor;
}
.modal__title {
  display: block;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-align: center;
}
.modal__form {
  margin-top: 12px;
}

.form {
  width: 448px;
  height: 342px;
}
.form__filed {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}
.form__filed:first-child {
  margin-top: 0px;
}
.form__label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--text-color);
}
.form__wrap {
  position: relative;
}
.form__input {
  width: 100%;
  height: 40px;
  margin-top: 4px;
  padding: 11px 11px 11px 41px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form__input:focus {
  border-color: var(--accent-color);
}
.form__input-icon {
  position: absolute;
  left: 12px;
  bottom: calc(50% - 2px);
  transform: translateY(50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form__input:focus + .form__input-icon {
  fill: var(--accent-color);
}
.form__checkbox {
  margin-top: 20px;
}
.form__btn {
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}
.form__comments {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-top: 4px;
  padding: 12px 16px;
  resize: none;
  cursor: pointer;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form__comments:focus {
  border-color: var(--accent-color);
}
.form__comments::placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
}
.checkbox__label {
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-color);
}
.checkbox__check-icon {
  display: flex;
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
  background-origin: border-box;
  justify-content: center;
  align-items: center;
  margin-right: 7px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.checkbox__policy:checked + .checkbox__label .checkbox__check-icon {
  border-color: var(--accent-color);
  background-color: var(--accent-color);
}
.checkbox__check-link {
  color: var(--accent-color);
}
.checkbox__icon {
  fill: transparent;
}
.checkbox__policy:checked + .checkbox__label .checkbox__icon {
  fill: #EEEEEE;
}

.examples {
  cursor: pointer;
  width: calc((100% - 60px) / 3);
}
.examples__link {
  display: block;
  transition: box-shadow 1000ms cubic-bezier(0.4, 0, 0.2, 1);
}
.examples__link:hover, .examples__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.examples__top-wrap {
  position: relative;
  overflow: hidden;
}
.examples__text {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  background-color: rgba(33, 150, 243, 0.9);
  height: 100%;
  padding: 63px 24px;
  transform: translateY(101%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.examples__link:hover .examples__text, .examples__link:focus .examples__text {
  transform: translateY(0);
}
.examples__botton-wrap {
  padding: 20px 24px;
  border-right: 1px solid #EEEEEE;
  border-bottom: 1px solid #EEEEEE;
  border-left: 1px solid #EEEEEE;
}
.examples__heading {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--basic-text-color);
}
.examples__par {
  margin-top: 4px;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

.header {
  background-color: var(--first-background-color);
  border-bottom: 1px solid #ECECEC;
}

.header .container {
  display: flex;
  align-items: center;
}

.nav {
  display: flex;
  align-items: center;
}
.nav__list {
  display: flex;
}
.nav__logo {
  margin-right: 93px;
}
.nav__item:not(:last-child) {
  margin-right: 50px;
}
.nav__link {
  position: relative;
  padding-top: 32px;
  padding-bottom: 32px;
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--basic-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav__link:hover, .nav__link:focus {
  color: var(--accent-color);
}
.nav__link:hover.link.hidden::after, .nav__link:focus.link.hidden::after {
  opacity: 1;
  transform: scaleX(1);
}

.business-card {
  display: flex;
  margin-left: auto;
}
.business-card__contact:not(:last-child) {
  margin-right: 50px;
}
.business-card__icon-envelope {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: currentColor;
}
.business-card__icon-smartphone {
  width: 10px;
  height: 16px;
  margin-right: 10px;
  fill: currentColor;
}
.business-card__mail, .business-card__tel {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.business-card__mail:hover, .business-card__mail:focus, .business-card__tel:hover, .business-card__tel:focus {
  color: var(--accent-color);
}

.hero {
  max-width: 1600px;
  height: 600px;
  padding: 200px 0px;
  margin: 0 auto;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/background-hero.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #C4C4C4;
}
.hero__container {
  text-align: center;
}
.hero__btn {
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}

.hero-titel {
  max-width: 696px;
  margin: 0px auto;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--text-on-dark-background);
}

.about {
  padding-top: 94px;
  padding-bottom: 47px;
}

.about-list {
  display: flex;
  justify-content: space-between;
}
.about-list__item {
  max-width: 270px;
}
.about-list__wrap {
  display: flex;
  height: 120px;
  background-color: var(--background-button);
  justify-content: center;
  align-items: center;
}
.about-list__heading {
  margin-top: 30px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.about-list__text {
  margin-top: 10px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

.work {
  padding-top: 47px;
  padding-bottom: 94px;
}

.work-list {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}
.work-list__item {
  position: relative;
}
.work-list__subtitel {
  position: absolute;
  left: 0;
  bottom: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--first-background-color);
  background-color: rgba(47, 48, 58, 0.8);
  display: block;
  width: 100%;
  padding: 27px;
}

.team {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--third-background-color);
}

.team-list {
  display: flex;
  margin-top: 50px;
}
.team-list__item {
  width: calc((100% - 90px) / 4);
  margin-right: 30px;
  background-color: var(--first-background-color);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}
.team-list__item:last-child {
  margin-right: 0px;
}
.team-list__wrap {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}
.team-list__heading {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.team-list__text {
  margin-top: 10px;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--text-color);
}
.team-list__soc-list {
  margin-top: 16px;
}

.socials {
  display: flex;
  justify-content: center;
}
.socials__item {
  width: 44px;
  height: 44px;
}
.socials__item--indent {
  margin-right: 10px;
}
.socials__link {
  width: 100%;
  height: 100%;
  display: flex;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  color: var(--basic-socicon-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.socials__link:hover, .socials__link:focus {
  background-color: var(--accent-color);
  color: #FFFFFF;
}
.socials__icon {
  fill: currentColor;
}

.client {
  padding-top: 94px;
  padding-bottom: 94px;
}

.client-list {
  display: flex;
  margin-top: 50px;
  justify-content: center;
}
.client-list__item {
  width: 170px;
  height: 92px;
}
.client-list__item:not(:first-child) {
  margin-left: 30px;
}
.client-list__link {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  color: var(--basic-socicon-color);
  border-radius: 4px;
  border: 1px solid #AFB1B8;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.client-list__link:hover, .client-list__link :focus {
  color: var(--accent-color);
  border: 1px solid var(--accent-color);
}
.client-list__logo {
  fill: currentColor;
}

.footer {
  background-color: var(--second-background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer__container {
  display: flex;
  align-items: baseline;
}

.networks {
  margin-left: 70px;
  width: 206px;
}
.networks__soccontact {
  margin-top: 20px;
}

.footer-titles {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--first-background-color);
}

.soccontact {
  display: flex;
  justify-content: space-between;
}
.soccontact__item {
  width: 44px;
  height: 44px;
}
.soccontact__link {
  display: flex;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  justify-content: center;
  align-items: center;
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.soccontact__link:hover, .soccontact__link :focus {
  background-color: var(--accent-color);
}
.soccontact__icon {
  fill: #FFFFFF;
}

.footer-box {
  margin-left: auto;
  margin-right: 0;
}

.footer-form {
  display: flex;
  margin-top: 20px;
  align-items: center;
}
.footer-form__input {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  padding: 15px 16px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  background-color: transparent;
  color: var(--text-on-dark-background);
}
.footer-form__input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer-form__btn {
  margin-left: 12px;
}

.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.filter {
  display: flex;
  justify-content: center;
}
.filter__item:not(:first-child) {
  margin-left: 8px;
}
.filter__btn {
  display: inline-block;
  min-width: 73px;
  border-radius: 4px;
  border: 1px solid transparent;
  padding: 6px 22px;
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--basic-text-color);
  background-color: var(--background-button);
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filter__btn:hover, .filter__btn:focus, .filter__btn:active {
  color: var(--text-on-dark-background);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.job {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
}
.job__item:not(:nth-child(3n)) {
  margin-right: 30px;
}
.job__item:not(:nth-child(-n+3)) {
  margin-top: 30px;
}/*# sourceMappingURL=main.css.map */